# ==========================================
# Dependencies
# ==========================================

node_modules/
**/node_modules/


# ==========================================
# Environment Variables
# ==========================================

.env
.env.local
.env.development
.env.production


# ==========================================
# Build files
# ==========================================

dist/
build/


# ==========================================
# Logs
# ==========================================

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log
node_modules/
.env
dist/

# ==========================================
# OS files
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/


# ==========================================
# Temporary files
# ==========================================

*.tmp
*.temp


# ==========================================
# Puppeteer
# ==========================================

.puppeteer/
.cache/